/* ===================================================================
 *  01. Main needs 
 *
 * ------------------------------------------------------------------- */
html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.header-mobile{
  display: none;
}

.polish{margin-left:1em;}

html, body {
  overflow-x: hidden;
}

/* * {
  border:1px solid red !important;
} */

.section-wrapper-black{
  width: 100%;
  max-width: 100%;
  background-color: black;
}

header {
  height: 72px;
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header-logo {
  width: 130px;
  height: 30px;
  margin-top: 16%;
  margin-left: 0.7em;
}

.header-container {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  background-color: black;
  
}

.header-navbar {
  display: flex;
  margin: 0;
  padding: 0;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar li {
  list-style: none;
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-weight: 500;
  color: grey;
  margin-top: 23px;
  transition: color 0.3s ease;
}

.header-navbar li:hover {
  color:white;
}

a {
  text-decoration: none;
  color: inherit; 
}

.site-lang p{
  color: rgb(168, 168, 168);
  font-weight: 400;
  font-size: 0.8em;
  margin-left:1em;
}

/*.site-lang img{
  margin-left: 10px;
}*/

.main-section{
  width: 100%;
  height: 786px;
  min-height: 950px;
  background-color: transparent;
  position: relative;
  display: table;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover; 
  background-position: center center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-section h1{
  color: white;
  padding-top: 190px;
  margin: 0;
  font-size: 72px;
}

.main-side-links{
  display: flex;
}
.main-side-links a li{
  list-style: none;
}

.main-side-links a li img{
  height: 40px;
  width: 40px;
  margin-left: 25px;
  margin-top: 150px;
  transition: background-color 0.4s ease, border-radius 0.4s ease;
}

.apply-bnt{
  padding: 8px 12px;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid rgb(255, 201, 51);
	background: rgb(249, 200, 65);
	color: black;
  font-weight: 500;
	/* cursor: pointer; */
	transition: all .2s;
  /* max-width: 230px; */
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1em;
  justify-content: center;
  margin-left: 10em;
}

.apply-bnt-p{
  margin: 0;
}

.apply-bnt:hover{
  background: rgb(225, 165, 0);
  border: 2px solid rgb(225, 165, 0);
}

.main-side-links a li img:hover{
  background-color: rgba(248, 203, 79); 
  border-radius: 20px 15px 20px 15px;
}

.about-us-section {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.about-us-section p {
  margin: 115px 300px 100px 0px;
  font-weight: 300;
  color: grey;
  text-rendering: optimizeLegibility;
}

.about-us-section h3 {
  font-size: 40px;
  margin-top: 100px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
  color: #151515;
  border-bottom: 2px solid rgb(255, 201, 51);
  padding-bottom: 15px;
}

.looking-for-section{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.looking-for-section h2{
  font-size: 45px;
  max-width: 50%;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(255, 201, 51)

  
}

hr {
  border: none; 
  border-top: 2px solid rgba(173, 173, 173, 0.24); 
}

.work-positions{
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.work-positions-gp{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.work-positions-sm{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.work-positions-sm h3{
  margin: 0px 0px 56px 0px;
}
.work-positions div{
  max-width: 350px;
  align-items: center;
}

.work-positions img{
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.work-positions-sm{
  padding-top: 40px;
}

.work-positions h3{
  font-size: 28px;
}

.work-positions h5{
  font-size: 17px;
  text-align: center;
}

.work-positions li{
  color: grey;
  font-size: 14px;
  padding-top: 7px;
}

.work-positions ul{
  padding: 0px;
  margin: 0px;
}

.training{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 12 70px;
  margin: 0 auto;
}

.training h3{
  color: black;
  text-align: start;
  margin-left: 40px;
  font-size: 37px;
  padding-top: 100px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
  border-bottom: 2px solid rgb(255, 201, 51);
  max-width: 170px;
  padding-bottom: 15px;
}

.training img{
  max-width: 700px;
  height: 468px;
  border-radius: 20px;
}

.training p{margin-left: 30px; margin-top: 30px; font-weight: 400;}

.training-text{
  margin-top: 100px;
}

.training-content{
  display: flex;
}

#training-p{
  font-weight: 500;
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  color: gray;
  text-align: start;
}

.shifts hr{
  margin-top: 150px;
  margin-bottom: 0px;
  border-top: 2px solid rgba(173, 173, 173, 0.24);
}

.shift-content p {
  font-weight: 400;
}

#shift-day-text{
  margin: 0;
  padding: 0;
  max-width: 100px;
}

.shift-day h4{
  margin: 0;
  padding: 0;
}


.shifts h3{
  color: black;
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
  margin: 0 auto;
  padding-bottom: 10px;
  max-width: 4em;
  border-bottom: 2px solid rgb(255, 201, 51);
}

.shifts p{
  font-weight: 500;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: 400;
}
b{
  font-weight: 600;
}

.shift-day-night-container{
  display: flex;
  justify-content:space-around;
  /* margin-top: 50px; */
}

.shifts-day{
  max-width: 200px;
}

.additional-info {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.additional-info.show {
  display: block;
  opacity: 1;
}

.shifts-day{
  text-align: center;
  padding-top: 77px;
}

.shifts-last{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

.shifts-night{
  text-align: center;
  padding-top: 90px;
}

.img-sun{
  height: 55px;
  width: 55px;
}

.img-moon{
  height: 50px;
  width: 50px;
}

.faq h3{
  color: black;
  text-align: center;
  font-size: 37px;
  padding-top: 0px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
  border-bottom: 2px solid rgb(255, 201, 51);
  max-width: 110px;
  margin-left: 3em;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 1.5em;
}

.faq-buttons p{
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.faq-content{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.faq-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  padding-bottom: 5em;
}

.faq-info{
  display: none;
  text-align: start;
  font-size: 1em;
  margin-top: 10px;
}

.faq-buttons button{
  /* display: block; */
  /* float: right; */
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid rgb(255, 201, 51);
	background: rgb(255, 201, 51);
	color: black;
  font-weight: 500;
	/* cursor: pointer; */
	transition: all .2s;
  /* max-width: 230px; */
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1em;
}

.faq-buttons button:hover{
  background-color: rgb(250, 171, 0);

}


.faq-content img{
  max-width: 500px;
  max-height: 279px;
  margin-top: 35%;
}

.benefits-section h3{
  color: black;
  text-align: center;
  font-size: 37px;
  padding-top: 0px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
  border-bottom: 2px solid rgb(255, 201, 51);
  max-width: 160px;
  margin-left: 3em;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 1.5em;
  margin: 0 auto;
  padding-top: 50px;
}

.benefits-parent img,
.benefits-parent-1 img{
  width: 150px;
  height: 150px;
}

.benefits-parent li,
.benefits-parent-1 li{
  list-style: none;
}

.benefits-parent{
  display: flex;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;
  padding: initial;
}

.benefits-parent-1{
  display: flex;
  justify-content: space-around;
  margin: 150px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

.benefits-child,
.benefits-child-1{
  max-width: 150px;
  max-height: 150px;
}

.benefits-section h4{
  margin: 0;
  text-align: center;
  padding-top: 10px;
}



.our-studio-section{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: black;
}
.our-studio-section h3{
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  text-rendering: optimizeLegibility;
  font-weight:700;
  font-style: normal;
}



/* Slider ################################################## */
.slider-container {
  position: relative;
  max-width: 1000px;
  height: 666px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 200px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  width: 50%;
  height: 50%;
  background-color: transparent;
  border: none;
  font-size: 46px;
  color: rgb(255, 195, 16);
}

#prev-button-id {
  text-align: start;
}

#next-button-id {
  text-align: end;
}

.prev-button:hover {
  font-size: 50px;
  color: rgb(255, 201, 51);
  color: #fff; 
  text-shadow: 0 0 10px #fff, 
               0 0 20px white, 
               0 0 30px white; 
}
.next-button:hover {
  font-size: 50px;
  color: rgb(255, 201, 51);
  color: #fff; 
  text-shadow: 0 0 10px #fff, 
               0 0 20px white, 
               0 0 30px white; 
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
/* .dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
} */

/* .dot.active {
  background-color: rgb(255, 201, 51); 
} */
/*################################################## */

.contact-section{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h3{
  color: black;
  text-align: center;
  padding-top: 70px;
  margin: 0;
  font-size: 35px;
}

.contact-section p{
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
/* Contact form  */

/* .contact-section iframe{
  height:fit-content
}

#iframe-contact-form{
  padding-top: 50px;
} */

.form {
  width: 90%;
	max-width: 390px;
	background: #f2f2f2;
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	padding: 20px 20px;
  margin: 30px 0px 0px 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	position: relative
}
.container{
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-section h2 {
	margin: 10px 0px 30px 0px;
	padding-bottom: 10px;
	width: 200px;
	color: black;
	border-bottom: 3px solid rgb(255, 201, 51)
}

.contact-section input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s;
	border-bottom: 2px solid rgb(255, 201, 51)
}

.contact-section input:focus {
	border-bottom: 2px solid rgb(255, 201, 51)
}

.contact-section p:before {
	content: attr(type);
	display: block;
	margin: 28px 0px 15px 0px;
	font-size: 14px;
	color: black;
}
.rotate{
  display: inline-block;
  transform: rotate(90deg);
}

.contact-section button {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid rgb(255, 201, 51);
	background: 0;
	color: black;
  font-weight: 500;
	cursor: pointer;
	transition: all .3s;
  width: 100%;
  margin-top: 30px;
  border-radius: 7px;
}

.work-positions-sm button,
.work-positions-gp button{
  display: block;
  float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid rgb(255, 201, 51);
	background: rgb(255, 201, 51);
	color: black;
  font-weight: 500;
	cursor: pointer;
	transition: all .2s;
  width: 100%;
  border-radius: 10px;
}

/* .work-positions-sm button:active,
.work-positions-gp button:active,
.work-positions-gp button:active{
	background-color: rgb(255, 201, 51);
} */

.work-positions-sm button:hover,
.work-positions-gp button:hover{
	background-color: rgb(255, 201, 51);
  transition: background-color 0.4s ease, border-radius 0.4s ease;
    
}


.contact-section button:hover {
	background: rgb(255, 201, 51);
	color: #fff
}

.footer-section{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: black;
  justify-content: space-around;
}

.footer-map{
  margin-top: 2em;
  width: 35em;
  height:20em;
  border-radius: 20px;
}


#footer-map-p{
  text-align: center;
}

@media screen and (max-width: 575px) {
  .footer-map{
    width: 20em;
    height:20em;
    
  }
}

.footer-side-links-elements{
  display: flex;
  justify-content: space-between;
}

.footer-image{
  width: 93px;
  height: 22px;
  padding-bottom: 20px;
  padding-top: 50px;
  margin: 0;
}

.footer-side-info p{
  color:grey;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;

}

.footer-side-info{
  color:grey;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.footer-side-info h6{
  color: white;
  padding-bottom: 10px;
  padding-top: 52px;
  margin: 0;
  font-size: 15px;
}

.footer-side-links{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px;
}
.footer-side-links img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  
}

.footer-side-links ul{
  margin: 0;
  padding: 0;
}

.footer-side-links img:hover{
  background-color: rgba(248, 203, 79); 
  border-radius: 20px 15px 20px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease;
  
}
.last-info{
  display: flex;
  justify-content: center;
}

.last-info p{
  color: white;
  color:grey;
  font-weight: 500;
  font-size: 13px;
  margin-left: 20px;
  margin-top:70px;
  padding-bottom: 30px;
}


.last-info img{
  width: 30px;
  height: 30px;
  margin-top:60px;
  margin-left: 10px;
}

.last-info a{
  text-decoration: none;
}

.last-info img:hover{
  background-color: rgba(248, 203, 79); 
  border-radius: 20px 15px 20px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease;
    
}


/*  */


/* ===================================================================
 *  02. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06, li, p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:lighter;
  font-style: normal;
}

.swiper {
  width: 600px;
  height: 300px;
}
.swiper img {
  width: 600px;
  height: 300px;
}

@media screen and (max-width: 663px) {
  .main-section{
    background-image: url(../img/hero-bg-mobile.jpg);
    min-height: 786px;
  }
  .header{
    background: transparent;
  }
  .site-lang img{
    width: 20px;
    height: 20px;
    margin-left:1em;
  }
}

@media screen and (max-width: 1000px) {
  .faq-content img{
    display: none;
  }
  .apply-bnt-p{
    text-align: center;
  }
  .apply-bnt{
    margin: 2em 0em;
  }
  .work-positions{
    flex-direction: column;
    align-items: center;
  }
  .about-us-section,
  .training-content{
    flex-direction: column;
  }
  .training-text{
    margin-top: 20px
  }
  .training{
    width: 90%;
  }
  .shifts{
    width: 90%;
    margin: auto;
  }
  .our-studio-section{
    width: 90%;
    margin: auto;
  }
  .contact-section p{
    width: 90%;
  }
  /* header{
    display: none;
  } */
  .about-us-section p{
    margin: 0 auto;
    text-align: center;
    width: 90%;

  }
  .faq-content{
    justify-content: center;
  }
  
  .looking-for-section h2{
    max-width: 100%;
  }
  .work-positions-sm button, .work-positions-gp button{
    width: -webkit-fill-available;
  }
  .faq-buttons{
    width: 90%;
  }
  .footer-side-links-elements{
    display: flex;
    flex-direction: column;
  }
  ul.footer-side-links{
    align-items: center;
    justify-content: center;
  }
  .training img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    align-self: center;
  }
  .slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .shifts p{
    text-align: center;
    padding-top: 30px;
  }
  .training p{
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
  .looking-for-section h2,
  .about-us-section h3{
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .work-positions li{
    list-style-position: inside;
    text-align: start;
  }
  .prev-button,
  .next-button {
    position: absolute;
    top: 40%;
    transform: translateY(-150%);
    width: 10%;
    height: 10%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .training h3{
    align-self: center;
    margin-left: 0;
  }
  .shifts h3{
    padding-bottom: 20px;

  }
  .next-button:hover{
    font-size: 25px;
  }
  .prev-button:hover{
    font-size: 25px;
  }
  .last-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last-info p{
    margin: 0;
    padding: 20px 0px;
  }
  .last-info img{
    margin: 0;
    padding: 0px 0px 50px 0px;
  }
  .faq h3{
    margin: 0 auto;
    padding-top: 50px;
  }
  .faq-buttons p{
    margin-top: 3em;
  }
  .slider-container{
    height: fit-content;
  }
  .main-section h1{
    font-size: 48px;
    text-align: center;
    padding-top: 6em;
  }
  .main-side-links{
    margin: 0;
    padding: 0;
  }
  /* .main-section{
    background-image: url(../img/hero-bg-mobile.jpg);
    min-height: 786px;
  } */

  .main-side-links{
    justify-content: center;
  }
  .main-side-links a li img{
    margin-top: 75px;
  }
  .benefits-parent,
  .benefits-parent-1{
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 7em;
    /* justify-content: center; */
    align-items: center;
  }
  .benefits-parent-1{
    justify-content: space-around;
    gap: 7em;
    padding-top: 7em;
    padding-bottom: 5em;
  }
  .benefits-parent{
    padding-top: 3em;
  }

}

.burger-menu-container {
  display: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: grey;
  transition: all 0.3s ease;
}

.header-container.active .bar:nth-child(2) {
  opacity: 0;
}

.header-container.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.header-container.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

@media screen and (max-width: 960px) {
  .header-navbar {
    display: none;
  }

  .burger-menu-container {
    display: block;
    margin: 25px 20px;
  }

  .header-container.active .header-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
    padding: 20px 0;
  }

  .header-container.active .header-navbar li {
    margin: 15px 0;
  }
}
	